{% extends 'layout_admin.html.twig' %}

{% block title %}Alert index{% endblock %}

{% block body %}
    <h1>Alert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Activated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.id }}</td>
                <td>{{ alert.message }}</td>
                <td>{{ alert.activated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('alert_show', {'id': alert.id}) }}">show</a>
                    <a href="{{ path('alert_edit', {'id': alert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_alert_new') }}">Create new</a>
{% endblock %}
