{% extends 'layout_admin.html.twig' %}

{% block title %}Alert{% endblock %}

{% block body %}
    <h1>Alert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alert.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ alert.message }}</td>
            </tr>
            <tr>
                <th>Activated</th>
                <td>{{ alert.activated ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_alert_index') }}">back to list</a>

    <a href="{{ path('admin_alert_edit', {'id': alert.id}) }}">edit</a>

    {{ include('admin_alert/_delete_form.html.twig') }}
{% endblock %}
