{% form_theme form 'bootstrap_4_layout.html.twig' %}

<hr class="uk-divider-icon mt-5">

<h1 class="title container-title text-center mt-5 mb-5">Nous contacter</h1>
<div class="row d-flex justify-content-center w-100 mr-auto ml-auto mb-4 mt-1">
    <div class="col-lg-6">
        {{ form_start(form) }}
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="100" class="col">{{ form_row(form.firstname) }}</div>
            <div data-aos="fade-left" data-aos-delay="100" class="col">{{ form_row(form.lastname) }}</div>
        </div>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="200" class="col">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="200" class="col">{{ form_row(form.subject) }}</div>
        </div>
        <p id="reservation_constraint" class="d-none" style="font-size: 1em; color: #C82829">Une réservation ne peut être effectuée que entre 18h et 23h.</p>

        <div id="contact_form_message" class="row textarea d-none">
            <div class="col">{{ form_row(form.message) }}</div>
        </div>

        <div id="contact_form_reservation" class="row d-none">
            <div class="col-4">{{ form_row(form.date, {'attr':{ 'class': 'datepicker'}}) }}</div>
            <div class="col-4">{{ form_row(form.timeTable) }}</div>
            <div class="col-4">{{ form_row(form.partySize, {'attr':{ 'value': '1'}}) }}</div>
        </div>

        <div id="btn-contact-form" class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-danger reserve-btn w-15 m-4">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
