{% form_theme form 'bootstrap_4_layout.html.twig' %}

<h2 class="title container-title text-center mt-3 mb-4">Nous contacter</h2>
<div class="row d-flex justify-content-center w-100 mr-auto ml-auto mb-4 mt-1">
    <div class="col-lg-6">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.firstname) }}</div>
            <div class="col">{{ form_row(form.lastname) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.subject) }}</div>
        </div>
        <div class="row textarea">
            <div class="col">{{ form_row(form.message) }}</div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-danger reserve-btn w-15 m-4">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
