{% extends 'layout_admin.html.twig' %}

{% block title %}Menu des produits{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Menu des produits</h1>
        <div class="admin-section pt-5 pb-5 px-5">
            <a href="{{ path('product_new') }}" class="btn btn-outline-danger mb-5">Créer un produit</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Année</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.year }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.type }}</td>
                        <td>{{ product.picture }}</td>
                        <td>
                            <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-outline-dark m-2">Aperçu</a>
                            <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-outline-dark m-2">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun produit</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
