{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
    <h1 class="text-center news-title pt-5">Tous les produits du Dame Jeanne</h1>

    <div class="container search-section pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-danger">Rechercher</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


    <div class="container-fluid products">

        <div class="row justify-content-around">
            {% for product in products %}
                <div class="col-md-4 col-lg-4">
                    <div class="uk-text-center">
                        <div class="uk-card uk-card-hover uk-card-body">
                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                <img src="{% if product.imageName is empty %}
                                    {{ asset('build/event_1.jpg') }}
                            {% else %}
                                    {{ vich_uploader_asset(product, 'imageFile') }}
                                {% endif %}"
                                     alt="{{ product.name }}" class="product-picture w-100">
                                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                    <p class="card-text"><span
                                                class="badge badge-danger">{{ product.section.name }}</span></p>
                                    <p
                                            class="uk-h3 uk-margin-remove">{{ product.name }}</p>
                                </div>
                            </div>

                            <a class="btn btn-outline-danger reserve-btn w-15 m-4"
                               href="{{ path('product_show', {'slug':product.slug}) }}">Détail du
                                produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Pagination -->
        {% include 'pagination/products_pagination.html.twig' %}
    <!-- End pagination -->

{% endblock %}
