<div class="text-center">
    <p class="m-3">Page : {{ page }}</p>
</div>

<div class="text-center">
    {% if maxPages > 0 %}
    <ul class="uk-pagination uk-flex-center">
        <li {{ currentPage == 1 ? 'class="uk-disabled"' }}>
            <a href="{{ path('product_index', {'page': currentPage - 1 < 1 ? 1 : currentPage - 1}|merge(app.request.query.all)) }}">< Précédent</a>
        </li>
        {% for i in 1..maxPages %}
            <li {{ page == i ? 'class="uk-active"' }}>
                <a href="{{ path('product_index', {'page': i}|merge(app.request.query.all)) }}">{{ i }}</a>
            </li>
        {% endfor %}
        <li {{ currentPage == maxPages ? 'class="uk-disabled"' }}>
            <a href="{{ path('product_index', {'page': currentPage + 1 <= maxPages ? currentPage + 1 : currentPage}|merge(app.request.query.all)) }}">Suivant ></a>
        </li>
        {% endif %}
    </ul>
</div>
