{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nos actualités{% endblock %}

{% block body %}
    <h1 class="text-center news-title pt-5">Toutes nos actus</h1>

    <div class="container search-section pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-danger">Rechercher</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            {% for article in articles %}
                <div class="col-md-4 col-lg-5 my-5">
                    <div class="uk-text-center">
                        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="{% if article.imageName is empty %}
                                    {{ asset('build/event_1.jpg') }}
                            {% else %}
                                    {{ vich_uploader_asset(article, 'imageFile') }}
                                {% endif %}"
                                 alt="{{ article.title }}" class="article-picture w-100">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="card-text"><small
                                            class="text-muted">Date
                                        : {{ article.date|date('d/m/Y') }}</small> - <span
                                            class="badge badge-danger">{{ article.category.name }}</span></p>
                                <p
                                        class="uk-h3 uk-margin-remove">{{ article.title }}</p>
                            </div>
                        </div>
                        <a class="btn btn-outline-danger reserve-btn w-15 m-4"
                           href="{{ path('blog_show', {'slug':article.slug}) }}">Détail de
                            l'article</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
        {% include 'pagination/blog_pagination.html.twig' %}
    <!-- End pagination -->

{% endblock %}
