{% extends 'layout.html.twig' %}
{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1 class="ml-3 mr-3 mb-5 pt-4 pb-5 m-md-5 text-center">{{ article.title }}</h1>
    <div class="article-show container pb-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-10 card-img-block">
                <div class="card-img-block-top">
                    <img src="{% if article.imageName is empty %}
                                    {{ asset('build/event_1.jpg') }}
                            {% else %}
                                    {{ vich_uploader_asset(article, 'imageFile') }}
                                {% endif %}"
                         alt="{{ article.title }}" class="article-picture-show w-100">
                </div>
            </div>
            <div class="col-md-10 col-10">
                <div class="card-body">
                    <p class="card-text"><small
                                class="text-muted">Date
                            : {{ article.date|date('d/m/Y') }}</small> - <span
                                class="badge badge-danger">{{ article.category.name }}</span></p>
                    <p class="card-text text-justify">{{ article.content|raw }}</p>
                    <p class="card-text">{{ article.author }}</p>
                    <div class="modal-comment">
                        <div class="comment-title d-flex row justify-content-between px-3">
                            <h4 class="pl-3 py-3">{{ comments | length }} Commentaires</h4>
                            <button class="uk-button uk-button-default my-3 mr-3" type="button"
                                    uk-toggle="target: #toggle-usage"><span uk-icon="triangle-down"></span>
                            </button>
                        </div>
                        {% for comment in comments %}
                            <div id="toggle-usage" class="comment-content pl-3" aria-hidden="true" hidden="">
                                <p class="comment-author">{{ comment.author }}</p>
                                <p class="comment-date">{{ comment.date|date('d/m/Y') }}</p>
                                <p class="comment-text text-justify pr-3">{{ comment.content }}</p>
                                <hr class="pb-3">
                            </div>
                        {% else %}
                            <p>Il n'y a pas encore de commentaire, soyez le premier à publier !</p>
                        {% endfor %}
                        <h4 class="text-center my-5">Ajouter un commentaire</h4>
                        <div class="form_comment d-flex justify-content-center w-100">
                            <div class="col-lg-8">
                                {{ form_start(formComment) }}
                                {{ form_row(formComment.author) }}
                                {{ form_row(formComment.content) }}
                                <div class="flex d-flex justify-content-around">
                                    <button class="btn btn-outline-danger my-3"><span uk-icon="check"></span> {{ button_label|default('Valider') }}</button>
                                </div>
                                {{ form_end(formComment) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5 pb-5">
        <a class="btn btn-dark" href="{{ path('blog_index') }}">Retour</a>
    </div>
{% endblock %}
