<nav class="navbar navbar-expand-lg container">
    <div class="ml-1 row d-flex justify-content-around align-items-center w-100">
        <div class="col-lg-12 col-xs-1">
            <div class="d-flex justify-content-center">
                <div class="logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('build/logo.webp') }}" class="logo-responsive d-inline-block align-middle"
                             alt="logo jeanne">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="navbar-light">
                <button class="mb-4 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-around align-items-center w-100">
                <li class="nav-item d-flex">
                    <a class="ml-3 navbar-brand" href="/">Accueil</a>
                </li>
                <li class="nav-item d-flex">
                    <a href="{{ path('product_index') }}" class="nav-link"><span class="nav-effect">Nos produits</span></a>
                </li>
                <li class="nav-item d-flex">
                    <a href="{{ path('home') }}#esprit" class="nav-link"><span
                                class="nav-effect">L'esprit Dame Jeanne</span></a>
                </li>
                <li class="nav-item d-flex">
                    <a href="{{ path('home') }}#produits" class="nav-link"><span
                                class="nav-effect">Les rendez-vous</span></a>
                </li>
                <li class="nav-item d-flex align-self-center">

                    {% if app.user %}
                        <a href="{{ path('admin_home') }}" class="nav-link"><span
                                    class="nav-effect">Page administration</span></a>
                    {% else %}

                        <!-- Bouton page modal -->
                        <button type="button" class="nav-link" data-toggle="modal" data-target="#login_modal"><span
                                    class="nav-effect">Connexion</span></button>

                        <!-- Affichage modal -->
                        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form action="{{ path('app_login') }}" method="post">
                                            {% if error is defined and error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
                                            <div class="form-group mb-3">
                                                <label for="inputEmail">Adresse email</label>
                                                <input type="email" value="{{ last_username }}" name="email"
                                                       id="inputEmail" class="form-control" required autofocus>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="inputPassword">Mot de passe</label>
                                                <input type="password" name="password" id="inputPassword"
                                                       class="form-control" required>
                                            </div>
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('authenticate') }}">
                                            <div class="d-flex justify-content-center">
                                                <button class="btn btn-outline-danger reserve-btn w-15 m-4 d-flex"
                                                        type="submit">Connexion
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </li>
            </ul>
        </div>
    </div>
</nav>
